@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ys0wa6');
  src:  url('fonts/icomoon.eot?ys0wa6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ys0wa6') format('truetype'),
    url('fonts/icomoon.woff?ys0wa6') format('woff'),
    url('fonts/icomoon.svg?ys0wa6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-down-chevron:before {
  content: "\e900";
}
.icon-double-up-chevron:before {
  content: "\e901";
}
.icon-down-chevron:before {
  content: "\e902";
}
.icon-up-chevron:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-copy:before {
  content: "\e905";
}
.icon-crop:before {
  content: "\e906";
}
.icon-delete:before {
  content: "\e907";
}
.icon-house:before {
  content: "\e908";
}
.icon-japanese-bridge:before {
  content: "\e909";
}
.icon-plant:before {
  content: "\e90a";
}
.icon-rectangle:before {
  content: "\e90b";
}
.icon-shape:before {
  content: "\e90c";
}
.icon-stone-path:before {
  content: "\e90d";
}
