body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#header {
  width: 100%;
  height: 50px;
  background-color: darkolivegreen;
}

#container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

#work_space {
  width: 100%;
  height: 100%;
  border: 5px solid red;
}
